h1 {
  color: DeepPink;
  text-align: center;
  background-color: limegreen;
  font-family: cursive;
}
h2 {
  color: white;
  text-align:left;
  background-color: purple;
  font-family: fantasy;
}
.para1 {
  font-family: fantasy;
}
.hyperLink:hover {
  background-color: orange;
  text-decoration: none;
}
body {
  background: url(pinkbackground.jpg);
}
